:root {
  --primary-text-color: #212121;
  --secondary-text-color: #757575;
  --accent-color: #2196f3;
  --second-accent-color: #ffffff;
  --black-text-color: #000000;
  --grey-data-color: rgba(255, 255, 255, 0.6);
  --icons-color: #afb1b8;
  --footer-soc-color: rgba(255, 255, 255, 0.1);

  --primary-background-color: #ffffff;
  --accent-background-color: #2f303a;
  --grey-background-color: #f5f4fa;
  --blue-background-color: #2196f3;
  --hover-background-color: #188ce8;

  --primary-font: "Roboto", sans-serif;
  --secondary-font: "Raleway", sans-serif;
}
body {
  color: var(--primary-text-color);
  background-color: var(--primary-background-color);
  font-family: var(--primary-font);
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}
h1,
h2,
h3,
ul,
p {
  margin: 0;
  padding: 0;
}
ul {
  padding: 0;
  list-style: none;
}
a {
  text-decoration: none;
}

.container {
  width: 1200px;
  margin-top: 0;
  margin-bottom: 0;
  margin-right: auto;
  margin-left: auto;
  padding-right: 15px;
  padding-left: 15px;
}
.section {
  padding-top: 94px;
  padding-bottom: 94px;
  padding-right: 0;
  padding-left: 0;
  margin: 0;
  background-color: var(--primery-background-color);
}
/* .hidden-title {
  display: none;
  } */

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/* top line */
.logo {
  margin-right: 93px;
  color: var(--black-text-color);
  font-family: var(--secondary-font);
  font-size: 26px;
  font-weight: 700;
  line-height: 1.19;
}
.logo-color {
  color: var(--accent-color);
}
/* top line Navigation */
.navigation {
  display: flex;
  align-items: center;
  border-bottom: 1px solid #ececec;
}
.main-nav {
  display: flex;
  align-items: center;
}
.site-nav {
  display: flex;
}
.site-nav .item:not(:last-child) {
  margin-right: 50px;
}
.site-nav-link {
  display: flex;
  padding-top: 32px;
  padding-bottom: 32px;

  font-weight: 500;
  line-height: 1.17;
  letter-spacing: 0.02em;
  text-align: left;
  color: var(--primary-text-color);

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.site-nav-link:hover,
.site-nav-link:focus {
  color: var(--accent-color);
}
.contacts {
  display: flex;
  margin-left: auto;
}
.contacts .item + .item {
  margin-left: 50px;
}
.contact-link {
  display: flex;
  align-items: center;

  font-weight: 500;
  line-height: 1.17;
  letter-spacing: 0.02em;
  color: var(--secondary-text-color);

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.contact-link:hover,
.contact-link:focus {
  color: var(--accent-color);
}

.header-icon {
  margin-right: 10px;
  fill: currentColor;
}
/* Псевдоэлемент after*/
.current {
  position: relative;
  display: inline-block;
  color: var(--accent-color);
}
.current::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  
  display: inline-block;
  width: 100%;
  height: 4px;
  
  background-color: var(--blue-background-color);
  border-radius: 2px;
}

/* Стили для index.html */
/* section Hero */

.hero {
  max-width: 1600px;
  height: 600px;
  margin-left: auto;
  margin-right: auto;
  padding: 200px 0;
  
  text-align: center;
  
  background-color: var(--accent-background-color);
  background-image: linear-gradient(
      to left top,
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url("../img/hero-overlay.jpg");
  background-repeat: no-repeat;
  background-position: center;
}

.hero-title {
  margin-top: 0;
  margin-bottom: 30px;
  margin-right: auto;
  margin-left: auto;

  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  text-align: center;

  color: var(--second-accent-color);
}

/* button */
.button {
  display: inline-block;

  text-align: center;
  color: var(--second-accent-color);

  background-color: var(--blue-background-color);
  border: 1px solid transparent;
  border-radius: 4px;
  cursor: pointer;
}
.button-service {
  margin-right: auto;
  margin-left: auto;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-right: 32px;
  padding-left: 32px;

  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  align-items: center;
  background-color: var(--blue-background-color);

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
  box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.button-service:hover,
.button-service:focus {
  background-color: var(--hover-background-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

.button-primary,
.button-secondary {
  padding-top: 6px;
  padding-bottom: 6px;
  padding-right: 22px;
  padding-left: 22px;
}

/* section two. list of features */
.feature-list {
  display: flex;
}
.list-item {
  display: inline-block;
  width: 270px;
  margin-bottom: 30px;
}
.list-item:not(:last-child) {
  margin-right: 30px;
}
.thumb {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 270px;
  height: 120px;
  margin-bottom: 30px;

  background-color: var(--grey-background-color);
}
.icon-feature {
  display: flex;
  align-items: center;
}
/* width: 270px;
  height: 120px;
  background-size: 70px;
  background-position: center;*/

.feature-title {
  margin-bottom: 10px;

  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
}
.feature-text {
  color: var(--secondary-text-color);
}

/* section three */
.section.no-padding {
  padding-top: 0;
}
.section-title {
  margin-top: 0;
  margin-bottom: 50px;

  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
}
.occupation-list {
  display: flex;
}
.occupation-list .occupation-item:not(:last-child) {
  margin-right: 30px;
}

.imagine-position {
  display: block;
  max-width: 100%;
  height: auto;
}

/* Позиционирование card-label */
.label-thumb {
  position: relative;
  display: flex;
}

.text-label {
  position: absolute;
  bottom: 0;
  left: 0;

  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 70px;
 
  font-weight: bold;
  line-height: 1.14;
  text-transform: uppercase;
  
  color: var(--second-accent-color);
  background-color: rgba(47, 48, 58, 0.8);
}

/* section four. our team */
.team-background {
  background-color: var(--grey-background-color);
}
.team-list .decoration {
  background-color: var(--primary-background-color);
  border-radius: 0px 0px 4px 4px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
}
.team-list .decoration:not(:last-child) {
  margin-right: 30px;
}
.team-list {
  display: flex;
}
.team-list > .decoration > .content {
  padding-top: 30px;
  padding-bottom: 30px;
}
.team-title,
.team-description {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
  text-align: center;
}
.team-title {
  margin-bottom: 10px;
}
.team-description {
  margin-bottom: 16px;
  font-weight: 400;
  color: var(--secondary-text-color);
}

/* svg social list*/
.social-list {
  display: flex;
  justify-content: center;
}
.social-item {
  display: flex;
  justify-content: center;
  align-items: center;
}
.social-item:not(:last-child) {
  margin-right: 10px;
}

.social-list-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;

  color: var(--icons-color);
  border-radius: 50%;

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), 
  background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.svg-icon {
  fill: currentColor;
}
.social-list-link:hover,
.social-list-link:focus {
  color: var(--second-accent-color);
  background-color: var(--accent-color);
}

/* Clients */
.clients-list {
  display:flex;
}
.clients-item {
  display: flex;
}
.clients-item:not(:last-child) {
  margin-right: 30px;
}
.clients-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 170px;
  height: 92px;

  color: var(--icons-color);
  border: 1px solid var(--icons-color);
  border-radius: 4px;

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.client-icon {
  fill: currentColor;
}
.clients-link:hover,
.clients-link:focus {
  color: var(--accent-color);
  border: 1px solid var(--blue-background-color);
  border-radius: 4px;
}
/* footer */
.footer {
  padding-top: 60px;
  padding-bottom: 60px;
  
  background-color: var(--accent-background-color);
}

.position-footer {
  display: flex;
  align-items: baseline;
}

.footer-logo {
  display: block;
  margin-bottom: 20px;

  font-family: var(--secondary-font);
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.17;
  color: var(--second-accent-color);
}

.address-link {
  font-style: normal;
  color: var(--second-accent-color);
}

.data {
  margin-top: 9px;
}

.contacts-link {
  color: var(--grey-data-color);
  font-style: normal;
  line-height: 1.71;
}

/* footer-socials svg*/
.contacts-block {
  margin-right: 70px;
}

.footer-soc-title {
  display: flex;
  align-items: center;
  margin-bottom: 20px;

  font-size: 14px;
  line-height: 1.17;
  text-transform: uppercase;
  color: var(--second-accent-color);
}

.footer-list {
  display: flex;
  justify-content: center;
}
.footer-item {
  display: flex;
}
.footer-item:not(:last-child) {
  margin-right: 10px;
}

.footer-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;

  color: var(--second-accent-color); 
  background-color: var(--footer-soc-color);
  border-radius: 50%;

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1)
}
.footer-svg {
  fill: currentColor;
}
.footer-link:hover,
.footer-link:focus {
  background-color: var(--blue-background-color);
}

/* Форма в footer */
.footer-form {
  margin-left: 93px;
}
.footer-field {
  display: flex;
  align-items: baseline;
}
.footer-label {
  margin-right: 12px;
}

.footer-input {
  width: 358px;
  height: 50px;
  padding-left: 16px;
  padding-top: 15px;
  padding-bottom: 15px;

  font-weight: 400;
  font-size: 14px;
  color: var(--second-accent-color);

  border: 1px solid rgba(255, 255, 255, 0.3);
  box-sizing: border-box;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;

  background-color: transparent;

  transition: outline-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-input::placeholder {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}

.footer-input:focus {
  outline-color: var(--accent-color); 
}

/* Button */
.subscribe-button {
  display: flex;
  align-items: center;

  width: 200px;
  height: 50px;
  
  padding-top: 10px;
  padding-bottom: 10px;
  padding-right: 28px;
  padding-left: 29px;
  
  border: 0;
  border-radius: 4px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);

  cursor: pointer;
}

.subscribe-text {
  margin-right: 10px;
  color: var(--second-accent-color);
}
.subscribe-icon {
  fill: var(--second-accent-color);
}

/* Модальное окно */
.backdrop {
  position: fixed;
  top: 0;
  left: 0;

  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);

  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), 
  visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);

  opacity: 1;
}

/* Спрятан backdrop */
.backdrop.is-hidden {
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
}

/* Спрятан backdrop и Модальное окно*/
.backdrop.is-hidden .modal {
  transform: translate(-50%, -50%) scale(0.7);
  opacity: 0;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;

  min-width: 528px;
  min-height: 580px;
  padding: 40px;
  margin: 0;

  background-color: var(--second-accent-color);
  border-radius: 4px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  
  transform: translate(-50%, -50%) scale(1);

  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), 
  opacity 250ms cubic-bezier(0.4, 0, 0.2, 1); 
  
  opacity: 1; 
}

.close-modal {
  position: absolute;
  top: 8px;
  right: 8px;

  display: flex;
  justify-content: center;
  align-items: center;
  width: 30px;
  height: 30px;
  
  fill: currentColor;
  background-color: var(--primary-background-color);
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 15px;

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  cursor: pointer;
}

.close-modal:hover, 
.close-modal:focus {
color: var(--accent-color)
}

/* Оформление модального окна */

.form-title {
  display: block;
  margin-top: 0;
  margin-bottom: 12px;
  
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;

  color: var(--primary-text-color);
}

.forms-field {
  position: relative;
  display: flex;
  flex-direction: column;
  
  margin-bottom: 10px;
  padding: 0;
}

/* Как переопределить нижний марджин для forms-field forms-textarea */
.forms-field:nth-child(5) {
  margin-bottom: 20px;
}

.forms-label {
  display: flex;
  flex-direction: column;
  margin-bottom: 4px;

  font-weight: 400;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  text-align: left;

  color: var(--secondary-text-color);
}

.forms-input {
  display: block;
  height: 40px;
  padding-top: 0;
  padding-bottom: 0;
  padding-right: 0;
  padding-left: 42px;
  margin: 0;

  font-family: var(--primary-font);
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;

  color: var(--primary-text-color);
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  box-sizing: border-box; 

  transition: outline-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
  border 250ms cubic-bezier(0.4, 0, 0.2, 1);

  cursor: pointer;
}

.forms-textarea {
  display: inline-block;
  height: 120px;
  padding: 12px 16px;
  margin: 0;

  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  box-sizing: border-box;

  transition: outline-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
  border 250ms cubic-bezier(0.4, 0, 0.2, 1);

  cursor: pointer;
  resize: none;
}

.forms-textarea::placeholder {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.form-svg {
  position: absolute;
  top: 37px;
  left: 12px;

  display: inline-block;
  width: 18px;
  height: 18px;

  fill: currentColor;

  transform: translateY(-50%);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  cursor: pointer;
}

.forms-input:hover + .form-svg,
.forms-input:focus + .form-svg {
  color: var(--accent-color);
}

.forms-input:hover,
.forms-input:focus,
.forms-textarea:hover,
.forms-textarea:focus {
  border: 1px solid var(--accent-color);
  outline-color: var(--accent-color);
}


/* Рабочий вариант
.forms-field:focus-within > .form-svg {
  color: #2196f3;
} */

/* Checkbox */
.checkbox-label {
  display: flex;
  align-items: center;
  margin-bottom: 30px;

  font-family: var(--primary-font);
  font-weight: 400;
  color: var(--secondary-text-color);
}
/*-webkit-appearance:none;
-moz-appearance:none;
appearance:none;
position: absolute;*/

.checkbox {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.checkbox-icon {
  display: inline-block;
  width: 16px;
  height: 15px;
  margin-right: 9px;
  margin-left: 15px;

  border: 2px solid var(--primary-text-color);
  border-radius: 2px;

  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1),
  border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.checkbox:checked + .checkbox-icon {
  border-color: transparent;
  border-radius: 2px;

  background-color: var(--blue-background-color);
  background-image: url('../img/icon-check.svg');
  background-size: contain; 
  background-origin: border-box;
}

.checkbox:hover + .checkbox-icon,
.checkbox:focus + .checkbox-icon  {
  border-color: var(--blue-background-color);
  fill: var(--accent-color);
}

.terms-link {
  margin-left: 4px;

  font-family: var(--primary-font);
  font-weight: 400;
  text-decoration-line: underline;

  color: var(--accent-color);
}

.form-button {
  display: block;
  width: 200px;
  height: 50px;
  text-align: center;
  
  margin-right: auto;
  margin-left: auto;
  padding-top: 0;
  padding-bottom: 0;
  padding-right: 56px;
  padding-left: 55px;
  
  
  color: var(--second-accent-color);
  border: 0;
  border-radius: 4px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  
  cursor: pointer;
}

/* Стили для portfolio.html */
/* button section */
.filter {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-bottom: 50px;
}
.filter .item:not(:last-child) {
  margin-right: 8px;
}
.container.filter {
  margin-bottom: 0;
}

.button-primary,
.button-secondary {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  letter-spacing: 0.03em;
  border-radius: 4px;

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), 
  background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), 
  box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.button-primary:hover,
.button-primary:focus {
  background-color: var(--hover-background-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

.button-secondary {
  color: var(--primary-text-color);
  background-color: var(--grey-background-color);
}
.button-secondary:hover,
.button-secondary:focus {
  color: var(--second-accent-color);
  background-color: var(--hover-background-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

/* projects section*/
.projects {
  display: flex;
  flex-wrap: wrap;
  margin-left: -30px;
  margin-top: -30px;
}
.projects .projects-item {
  flex-basis: calc (100% / 3 - 30px);
  margin-left: 30px;
  margin-top: 30px;

  background-color: var(--primary-background-color);
}

.card {
  color: var(--primary-text-color);
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.card:hover,
.card:focus {
  display: block;
  box-sizing: border-box;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
  cursor: pointer;
}

.card > .card-content {
  padding-top: 20px;
  padding-bottom: 20px;
  padding-right: 24px;
  padding-left: 24px;
  text-decoration: none;

  border-right: 1px solid #eeeeee;
  border-bottom: 1px solid #eeeeee;
  border-left: 1px solid #eeeeee;
}
.projects-title {
  margin-bottom: 4px;

  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}
.projects-text {
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.03em;
  color: var(--secondary-text-color);
}

/* Position */
.card {
  position: relative;
}
.card-thumb {
  position: relative;
  overflow: hidden;
}

.card-overlay {
  position: absolute;
  top: 0;
  left: 0;
  
  width: 100%;
  height: 100%;
  background-color: rgba(33, 150, 243, 0.9);

  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.card:hover .card-overlay,
.card:focus .card-overlay {
  transform: translateY(0);
}

.text-overlay {
  position: absolute;
  top: 0;
  left: 0;
  
  width: 100%;
  height: 100%;
  padding-top: 63px;
  padding-bottom: 63px;
  padding-right: 24px;
  padding-left: 24px;
  margin: 0;
  
  font-family: var(--primary-font);
  font-weight: 400; 
  font-size: 18px;
  line-height: 1.55;
  color: var(--second-accent-color);
}
